@import "https://fonts.googleapis.com/css?family=Oranienbaum";
@import "https://fonts.googleapis.com/css?family=Raleway";
/* navigation menu style in both .navbar & navbar default */
/* line 12, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar {
  font-size: 30px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* line 17, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar .navbar-brand {
  padding-top: 0;
  color: #000000;
  width: 300px;
}
/* line 22, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar .navbar-brand img {
  height: 50px;
  width: 70px;
  display: inline;
}
/* line 28, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar h1 {
  text-align: center;
  display: inline;
}
/* line 32, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar .navbar-right {
  padding-top: 20px;
  font-size: 25px;
}

/* line 37, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar-default {
  background-color: #ffffff;
  opacity: 0.7;
  height: 100px;
  box-shadow: 5px 5px 5px #3e3c3c;
}

/* line 43, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar-default .navbar-nav > li > a {
  color: #000000;
}

/* line 46, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar-default .navbar-nav > li > a:active {
  text-decoration: underline;
  border-right: 2px solid #000000;
}

/* line 50, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar-default .navbar-nav > li > a:hover {
  font-weight: bold;
}

/* line 53, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar.shrink {
  min-height: 35px;
}

/* line 56, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
#bs-example-navbar-collapse-1 {
  text-align: center;
}
/* line 58, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
#bs-example-navbar-collapse-1 li {
  padding: 15px;
}

/* line 62, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.navbar-header {
  padding-top: 15px;
}

/* line 66, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body {
  font-family: 'Oranienbaum', sans-serif;
  color: #000000;
  /* SHOW PAGE */
}
/* line 70, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body h1 {
  font-family: 'Oranienbaum', serif;
  font-size: 30px;
  line-height: 38px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
}
/* line 78, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body p {
  font-family: 'Raleway', sans-serif;
}
/* line 81, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .outer {
  height: 625px;
}
/* line 83, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .outer img {
  height: 450px;
}
/* line 87, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .inner {
  height: 530px;
}
/* line 89, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .inner img {
  height: 375px;
}
/* line 94, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row {
  margin: 150px auto 0 auto;
  /* COMMENT SECTION
  */
}
/* line 96, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-8 {
  text-align: left;
  padding: 0;
}
/* line 99, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-8 img {
  width: 100%;
  height: auto;
  padding-right: 0;
}
/* line 104, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-8 h1 {
  font-size: 36px;
}
/* line 108, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-4 {
  height: auto;
}
/* line 110, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-4 h1 {
  margin-top: 0;
}
/* line 113, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-4 img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
}
/* line 118, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-4 ul {
  padding-left: 0;
}
/* line 120, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-4 ul li {
  list-style-type: none;
}
/* line 123, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row .col-md-4 ul h2 {
  display: inline;
}
/* line 130, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row #disqus_thread {
  position: relative;
  color: black;
  font-family: 'Oranienbaum', sans-serif;
}
/* line 135, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
body .container-fluid > .row #disqus_thread:after {
  content: "";
  display: block;
  height: 55px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: white;
}

/* line 146, /Users/SheedaBeeda/Desktop/freelance/codegirlco/app/assets/stylesheets/posts.scss */
.social-share-button .ssb-icon {
  background-position: center center;
  background-repeat: no-repeat;
  /* background-size: 18px 18px; */
  display: inline-block;
  height: 30px;
  background-size: cover;
  border-radius: 100%;
  width: 30px;
}
