/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.

* require_self: puts the CSS contained within this file at the top of any other CSS being imported in the following lines
* require_tree: imports every other file in your app/assets/stylesheets/ directory

*
*= require_self
*= require_tree .
*/

@import "bootstrap";
@import "posts.scss";
@import "social-share-button";


.jumbotron {
  background:
  linear-gradient(
  rgba(152,251,152,0.45),
  rgba(63,145,159,0.6)
  ),
  /* bottom, image */
  image_url("https://c7.staticflickr.com/2/1548/25388682374_42c5bf68ba_k.jpg");
  background-size: cover;
  height: 700px;
  position: relative;
  h1 {
    position: absolute;
    // left: 15px;
    top: 300px;
    max-width: 1100px;
    height: 309px;
  }
  small {
    color: #ffffff;
  }
}
